* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: block;
  width: 100%;
  border-top: 24px solid gray;
}

.head-line {
  width: 600px;
  height: 24px;
  background-color: gray;
  position: absolute;
  top: 50px;
  left: 445px;
}

.head-boxes {
  display: inline;
}

.h-box-1 {
  width: 700px;
  height: 700px;
  background-color: gray;
  margin-top: 100px;
  float: left;
}

.h-box-2 {
  width: 700px;
  height: 700px;
  background-color: gray;
  margin-top: 100px;
  float: right;
}

.art-1 {
  position: absolute;
  width: 600px;
  height: 28px;
  background-color: gray;
  top: 860px;
  left: 440px;
}

.art-1-box {
  display: inline;
  margin: 10px;
}

.box-1 {
  width: 350px;
  height: 350px;
  background-color: gray;
  position: absolute;
  top: 920px;
  left: 45px;
}

.box-2 {
  width: 350px;
  height: 350px;
  background-color: gray;
  position: absolute;
  top: 920px;
  left: 405px;
}

.box-3 {
  width: 350px;
  height: 350px;
  background-color: gray;
  position: absolute;
  top: 920px;
  left: 765px;
}

.box-4 {
  width: 350px;
  height: 350px;
  background-color: gray;
  position: absolute;
  top: 920px;
  left: 1125px;
}

.art-1-box-2 {
  display: inline;
  margin: 10px;
}

.box-5 {
  width: 350px;
  height: 350px;
  background-color: gray;
  position: absolute;
  top: 1280px;
  left: 45px;
}

.box-6 {
  width: 350px;
  height: 350px;
  background-color: gray;
  position: absolute;
  top: 1280px;
  left: 405px;
}

.box-7 {
  width: 350px;
  height: 350px;
  background-color: gray;
  position: absolute;
  top: 1280px;
  left: 765px;
}

.box-8 {
  width: 350px;
  height: 350px;
  background-color: gray;
  position: absolute;
  top: 1280px;
  left: 1125px;
}

.mid-head {
  position: absolute;
  top: 1675px;
  left: 360px;
  width: 800px;
  height: 32px;
  background-color: gray;
}

.mid-box {
  position: absolute;
  top: 1750px;
  left: 0;
  display: inline;
  background-color: gray;
  width: 100%;
  height: 700px;
}

.mid-box-1 {
  position: absolute;
  width: 450px;
  height: 600px;
  background-color: white;
  top: 50px;
  left: 25px;
  margin-left: 25px;
}

.mid-box-2 {
  position: absolute;
  width: 450px;
  height: 600px;
  background-color: white;
  top: 50px;
  margin-left: 530px;
}

.mid-box-3 {
  position: absolute;
  width: 450px;
  height: 600px;
  background-color: white;
  top: 50px;
  margin-left: 1010px;
}

.m-b-head {
  position: absolute;
  width: 410px;
  height: 35px;
  background-color: gray;
  top: 16px;
  left: 20px;
}

.m-b-mid {
  position: absolute;
  width: 410px;
  height: 300px;
  background-color: gray;
  top: 66px;
  float: auto;
  margin-left: 20px;
}

.m-b-foot {
  position: absolute;
  width: 410px;
  height: 200px;
  background-color: gray;
  top: 382px;
  left: 20px;
}

.end-head {
  position: absolute;
  width: 300px;
  height: 28px;
  top: 2500px;
  left: 610px;
  background-color: gray;
}

.end-cont-1 {
  position: absolute;
  width: 500px;
  height: 30px;
  top: 2560px;
  background-color: gray;
  left: 505px;
}

.end-cont-2 {
  position: absolute;
  width: 500px;
  height: 30px;
  top: 2595px;
  background-color: gray;
  left: 505px;
}

.end-cont-3 {
  position: absolute;
  width: 500px;
  height: 30px;
  top: 2630px;
  left: 505px;
  background-color: gray;
}

.end-cont-4 {
  position: absolute;
  width: 500px;
  height: 120px;
  top: 2666px;
  left: 505px;
  background-color: gray;
}

.l-e-1 {
  position: absolute;
  width: 240px;
  height: 30px;
  background-color: gray;
  top: 2800px;
  left: 505px;
}

.l-e-2 {
  position: absolute;
  width: 240px;
  height: 30px;
  background-color: gray;
  top: 2800px;
  right: 508px;
}

.foot {
  top: 2860px;
  background-color: gray;
  position: relative;
  width: 100%;
  height: 120px;
  left: 0px;
}

.foot-1 {
  position: absolute;
  width: 49%;
  height: 100px;
  top: 10px;
  margin-left: 10px;
  background-color: white;
}

.foot-2 {
  position: absolute;
  width: 49%;
  height: 100px;
  top: 10px;
  right: 10px;
  background-color: white;
}
